<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>brian cowan Love Jesus Christ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Love Jesus Christ</h1>
      <h2 class="project-tagline">Jesus Juve</h2>
    </section>

    <section class="main-content">
      <h1>
<a id="jesus-christ-is-lord" class="anchor" href="#jesus-christ-is-lord" aria-hidden="true"><span class="octicon octicon-link"></span></a>Jesus Christ is Lord</h1>

<p>praise Jesus
Jesus Juve</p>
<h3> Under Dev. Please visit</h3>
<ul>
  <li><a href="//briancowan.org">Blog</a></li>
  <li><a href="//evangelism.briancowan.net/">Evangelism tools</a></li>
  
</ul>

---
layout: default
title: My Blog
---

<!-- This loops through the paginated posts praise Jesus -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

      

            <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-000000-01");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
