---
title: God is great!
layout: defaultLoveJesus
---
{% include header.html %}

<h1>
<a id="jesus-christ-is-lord" class="anchor" href="#jesus-christ-is-lord" aria-hidden="true"><span class="octicon octicon-link"></span></a>Jesus Christ is Lord</h1>

<p>praise Jesus
Jesus Juve</p>
<h3> Under Dev. Please visit</h3>
<ul>
  <li><a href="//briancowan.org">Blog</a></li>
  <li><a href="//evangelism.briancowan.net/">Evangelism tools</a></li>
  
</ul>


<!-- This loops through the paginated posts praise Jesus -->
{% for post in site.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date | date_to_long_string }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

      
{% include footer.html %}